@import "./mixins";

$linear-color: linear-gradient(
  48deg,
  rgba(255, 255, 255, 1) 0%,
  #c0c0c0 7%,
  #000000 92%
);

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-family: "Zen Dots", cursive;
}

body {
  margin: 0 auto;
  background: url(./assets/img/desk-2.jpg) no-repeat;
  padding: 0 25vw 0 15vw;
  background-position: center;
}

* {
  box-sizing: border-box;
  font-family: "Alexandria", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 5vh;
  margin-top: 5vh;
  padding-top: 0.5vh;
  box-shadow: 10px 14px 35px 1px rgba(0, 0, 0, 0.65) inset;
  border-bottom: 1px #000000 solid;

  &__navigation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;

    &-item {
      font-size: 1em;
    }
  }

  .fancy-hover {
    position: relative;
  }

  .fancy-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
  }

  .fancy-hover:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.main {
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "contacts about"
    "links skills"
    "language projects"
    "education code";

  @include for-small-desktop {
    grid-template-areas:
      "contacts contacts"
      "about about"
      "links links"
      "skills skills"
      "language language"
      "projects projects"
      "education education"
      "code code";

    grid-auto-rows: 0.5fr;
  }

  .photo-wrapper {
    grid-area: contacts;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh;
    background-size: cover;
    background-blend-mode: multiply;
    flex-direction: column;

    &__heading {
      text-align: start;

      &:hover {
        color: blue;
        transition: transform 1s ease-in-out;
      }
    }

    &__avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 16px;
    }
  }

  .fancy-hover {
    position: relative;
  }

  .fancy-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
  }

  .fancy-hover:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .links {
    grid-area: links;
    padding: 2vh;

    &__heading {
      margin-bottom: 16px;
    }

    &__list {
      padding: 0;
      margin: 0;

      &-item img {
        display: inline-block;
        margin-right: 20px;
        width: 20px;
        height: 20px;
      }
      &-item a {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }

  .about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh;
  }

  .skills {
    grid-area: skills;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2vh;

    &__heading {
      margin-bottom: 16px;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      margin: 0;
      padding: 0;

      &-item img {
        display: inline-block;
        margin-right: 20px;
        object-fit: cover;
        width: 20px;
        height: 20px;
        margin-top: 10px;
      }
    }
  }

  .language {
    grid-area: language;
    padding: 2vh;
  }

  .projects {
    grid-area: projects;
    padding: 2vh;

    &__list {
      margin: 0;
      padding: 0;

      &-item img {
        margin: 10px 20px 0 0;
        display: inline-block;

        object-fit: cover;
        width: 25px;
        height: 20px;
      }
    }
  }

  .code {
    grid-area: code;
    padding: 2vh;

    &__wrapper {
      margin: 0;
    }
  }

  .education {
    grid-area: education;
    padding: 2vh;

    &__list {
      margin: 0;
      padding: 0;

      &-item {
        margin-left: 20px;
        margin-top: 10px;
        list-style-type: square;
      }
    }
  }
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 5vh;
  margin-bottom: 5vh;
  box-shadow: -9px -9px 37px 0px rgba(0, 0, 0, 0.75) inset;
  padding-top: 0.5vh;
  border-top: 1px black solid;

  .fancy-hover {
    position: relative;
  }

  .fancy-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
  }

  .fancy-hover:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

    &-item {
      list-style: none;
    }

    &-item img {
      width: 50px;
      height: 50px;
    }

    & item a {
      color: #000000;
      text-decoration: none;
    }
  }
}
