body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

.skills {
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}

.education {
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}

.language {
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}


.avatar {
  background-image: url(/Images/JG.jfif);
  border-radius: 100px;
  border: 3px solid silver;
  width: 200px;
  height: 200px;
  background-position: center -28px;
  background-repeat: no-repeat;
}

.text {
  line-height: 2;
}

.cv {
 display: inline-block;
 width: 50%;
}

.nav {
  display: inline-block;
  width: 49%;
  text-align: right;

}

.nav a {
  text-decoration: none;
}

.social {
  width: 32px;
  height: 32px;
}

.rssimage {
  width: 200px;
  height: 100px;
}

.h2color { 
  color: slategrey;
}